body {
margin: 0;
    overflow: hidden;
}



#first{
    margin-left: 0%;
    margin-right: 0%;
    height: 100vh;
    border-style: solid;
    border-color: black;
    /* display: flex; */
    justify-content: center;
    align-items: right;
    
    border-radius: 20px;
}
#line{
    border-radius: 20px;
    background-color: rgb(28, 207, 121);
    height: 10px;
    width: 20px;
}

#body {
    background-color: rgb(0, 31, 54);
    height: 100vh;
    
}

body{
    background-color: rgb(0, 31, 54);

}

.con {
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    width: 99.4%;
    z-index: 5;
}

.bodyy {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 25%;
}

.line {
    border-radius: 20px;
    background-color: white;
    height: 10px;


}





@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

.btn {
    border-radius: 10px;

    border-color: white;
    padding: 10px 10px;
    font-size: 100%;
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    animation: fadein 2s linear;
    background-color: rgba(0, 255, 255, 0.205);
    box-shadow: 0px 0px 5px aqua;
    transition: box-shadow 0.2s;
}

.btn:hover {

    box-shadow: 0px 0px 12px aqua;
}

.redirect {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    left: 47%;
    z-index: 9;
    transition: transform 0.2s;
}

.redirect:hover {
    transform: scale(1.1);
}

.bg {
    position: static;
    height: 90vh;
    width: 99.4%;
    z-index: -4;
    filter: blur(7px);
}

.circle {
    background-color: rgba(104, 245, 255, 0.652);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    z-index: -1;
}

.circle:nth-child(1) {
    position: absolute;
    top: 40%;
    left: 30%;
    height: 300px;
    width: 300px;
    opacity: 0.5;
}

.circle:nth-child(2) {
    position: absolute;
    top: 30%;
    left: 70%;
}

.circle:nth-child(3) {
    position: absolute;
    top: 10%;
    left: 20%;
    opacity: 1;
    filter: saturate(2);
}


