@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;

}

input[type=text] ,select,textarea{
    border-radius: 4px;
    
}

input{
    border-radius: 4px;
    width: 100%;
}

form{
    display:block;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    transform: all 0.3s ease;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    transform: scale(1.002);
    box-shadow:0px 0px 4px black;
    outline: none;
}

label{
    display: block;
}


input{
    padding-top: 1.5%;
    text-align: left;
    padding-bottom:1.5%;
    padding-left: 1%;
}



.container{
    width: 95%;
}

#submit{
    text-align: center;
}

select{
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.check{
    display:inline-flex;
    align-items: center;
}

label{
    width: 20vw;
}