@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap'); 

*{
    font-family: 'Poppins', sans-serif;
    color: black;
}

body{
    background-color: rgba(0, 242, 255, 0.285);
}

.heading{
    text-decoration: underline;
}

.bg{
    position:fixed;
    z-index: -30;
    background-color: rgb(0, 11, 19);
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}




.bg :nth-child(1){
    position: absolute;
    background-color: #0075F2;
    border-radius: 40% 60% 34% 50%;  
    width:70%;
    height:70%;
    top: 30%;
    left: 5%;
    box-shadow:inset 0px 0px 550px black ;
    filter: blur(100px);
    animation: bloom 5s infinite linear;
    z-index: -10;
}

.bg :nth-child(3){
    position: absolute;
    background-color: #093e5e;
    border-radius: 60% 40% 54% 30%;
    width:50%;
    height:60%;
    bottom: 75%;
    right: 10%;
    filter: blur(100px);
    z-index: -10;
    animation: bloom 5s infinite linear;
    animation-delay: 1s;
}

.bg :nth-child(2){
    position: absolute;
    background-color: #33006d;
    border-radius: 60% 40% 54% 30%;
    width:60%;
    height:70%;
    bottom: -5%;
    right: -10%;
    filter: blur(100px);
    z-index: -10;
    animation: bloom 5s infinite linear;
    animation-delay: 1s;
}


@keyframes bloom{
    0%{
        filter: blur(130px);
        border-radius: 60% 40% 54% 30%;
    }
    
    50%{
        
        filter: blur(70px);
        border-radius: 30% 54% 40% 60%;
    }
    
    100%{
        
        filter: blur(130px);
        border-radius: 60% 40% 54% 30%;
    }
}


.solved{
    z-index: 10;
    color: black;
    text-align: center;
}

img{
    height: 250px;
    border-radius: 15px;
}

.line{
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 80%;
    height: 1px;
    z-index: 10;
    margin-left: 10% ;
    margin-right: 10% ;
    box-shadow: 0px 0px 12px white;
}

.polka {
    filter: blur(1px);
    position:fixed;
    top: 0%;
    left: 0%;
    z-index: -20;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(#ffffff 1px, transparent 1px),
        radial-gradient(#0088ff 1px, transparent 1px),
        rgba(0, 153, 255, 0.338);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
}

p{
    margin-left: 20%;
    margin-right: 20%;
}